$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "_variables.scss";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$jallu: #CE7D14 !default;
$lightjaffa: #E5D0A2 !default;
$vesi: #446993 !default;
$vissy: #5E97C9 !default;

@mixin background-gradient($color1, $color2) {
background:$color1;
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$color1), color-stop(100%,$color2));
background:-ms-linear-gradient(160deg, $color1 0%,$color2 100%);
background:-webkit-linear-gradient(160deg, $color1 0%, $color2 100%);
background:linear-gradient(160deg, $color1 0%,$color2 100%);
background-size:100% 100%;
background-attachment:fixed;
}

body,html {min-height: 100%;}

/* Space out content a bit */
body {

  height: 100%; 
  width: 100%;
  background: #FCF5E3;
}

h1 {color:#C0B995; font-size: 40px;font-size:4vmin; font-weight:700;text-align: center;}


#map {
  position: relative;
  display: block;
  margin:0 auto;
  width: 300px;
  height: 600px;

  height:80vmin;
  width:80vmin;
  background: url(../images/fin.svg) no-repeat 50% 50%;
  background-size: auto 100%;

  .point {
    position: absolute; left:50%; top:50%;
    /* background: #CE7D14; 
    background: linear-gradient($jallu 0%,lighten($jallu,10%) 50%, $jallu 100% );  */
    background:url(../images/jalo.png) 50% 50% no-repeat;
    background-size: cover;
    width: 50px; height: 50px; margin-left:-25px; border-radius: 50%;
    &:hover {
      z-index: 100;
    }
    .badge {background:#FFF;
      color:$vissy;
      border:2px solid $vissy;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      width:35px;
      height:35px;
      line-height: 33px;
      margin-left: 20px;
      padding: 0;
      margin-top:-5px;
      transition:all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
      -webkit-transition:all  0.2scubic-bezier(0.25, 0.8, 0.25, 1);
     }
     &:hover {
      
      .badge { transform:scale(1.3); -webkit-transform:scale(1.3); }
     }
   /*  transform:scale(1); */
     -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
     filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
  }

}




@media screen and (max-width: 768px) {
  #map{
    height:85vmax;
    width:85vmin;
  }
}
